*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-image: url(oficina\ ksksksk.jpg);
    background-size: cover;
}
header button{
    background-color: #eff5df;
    border: none;
    font-size: 17px;

}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #eff5df;
}
.div-header{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-right: 20px;
}
.nav-e-main{
    display: grid;
    grid-template-columns: 200px 1fr;
}
nav{
    display: flex;
    height: 100vh;
    width: 200px;
    background-color: #eff5df;
    grid-column: 1;
}
main{
    grid-column: 2;
}
img{
    height: 70px;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 40px;
    background-color: #eff5df;

}
.img-usuario{
    border-radius: 50px;
    height: 50px;
}
a{
    text-decoration: none;
    color: #698f91;
}
a:hover{
    color:#4c6b6c;
}
h1, p{
    color: #698f91;
}
.a-principal{
    font-size: 50px;
    margin: 50px;
    background-color: #eff5df4d;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    
}
main{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items:center ;
    margin: 120px;
    flex-wrap: wrap;
}
.icones-principal{
    display:flex;
    flex-direction: column;
}